__pycache__/
*.pyc
downloads/
logs/
output/
data/*.json
config/config_api.json
config/accounts.json
config/x.com_cookies.txt
.env
*.mp4
*.mp3
!data/pending_tweets.json
!data/publishing_queue.json
!data/__init__.py
!config/__init__.py
!core/__init__.py
!utils/__init__.py
!data/scheduled_posts.json
